.cards {
    position: absolute;
    left: 50%; 
    top: 50px;
    transform-origin: 50% 100%;
}
.three {
    transform: rotate(-15deg);
}
.ace {
    transform: rotate(15deg);
}
.cards:hover {
    z-index: 2;
}